body{
    height: 5000px;
    width: 3000px;
}
.scroll{
    background-color: red;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}